[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==7.0.1"
pytest-django = "==4.4.0"
recommonmark = "==0.7.1"
sphinx = "==4.1.2"
sphinx-rtd-theme = "==0.5.2"

[packages]
django = "==3.2.6"

[requires]
python_version = "3.8"
